a {
    color: #bebebe;
  }
.profile-pic {
display: inline-block;
width: 35px;
height: 35px;
border-radius: 50%;
object-fit: cover;
}
body {
max-width: 70ch;
padding: 0 1rem;
margin: auto;
line-height: 1.5;
height: 100%;
font-family: Arial, Tahoma, Serif;
color: #bebebe;
background-color: rgb(46, 46, 46);
}
.navbar {
position: sticky;
top: 0;
border-bottom: 1px solid;
color: #bebebe;
background-color: rgb(46, 46, 46);
}
nav {
display: flex;
justify-content: space-between;
}
nav a {
text-decoration: none;
}
nav .profile-pic{
    margin-top: 15px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
position: relative;
display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
right: 0;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
color: black;
padding: 5px 5px;
text-decoration: none;
display: block;
background-color: #bebebe;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #8e8e8e
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
background-color: #3e8e41;
}

.brand {
font-weight: bold;
font-size: 20px;
margin: 16px 0px;
display: flex;
}
.post-textarea {
margin-top: 15px;
width:98%;
height: 55px;
}
.post-delete-form{
float:right;
}
a {
text-decoration: none;
} 
.post-display-user {
padding-top:10px;
}
.gallery-wrapper {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}
.gallery-wrapper img {
width: 100%;
}