<div class="container" style="padding-left: 50px">
    <a href="{% url 'user' comment.user.id %}"> {% comment "" %}{% endcomment %}
      <img
        src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
        class="rounded-circle"
        style="width: 20px"
        alt="Avatar"
      />
    
    {{ comment.user }}
    <span style="font-size: 0.6em"> posted on </span>{% comment "" %}{{ comment.get_date }}{% endcomment %}
    </a>
    <br />
    {{ comment.content}} 
    {% if user.is_authenticated %}
    <div class="form-group">
      <form action="" method="POST">{% comment "" %}{% url 'new-comment' %}{% endcomment %}
        {% csrf_token %}
        <input
          class="form-control"
          type="text"
          name="comment"
          placeholder="Reply to the comment above...."
        />
        <input
          type="hidden"
          id="postId"
          name="postId"
          value="{{ post.id }}"
        />
        <input
          type="hidden"
          id="parentId"
          name="parentId"
          value="{{ comment.id }}"
        />
      </form>
    </div>
    {% endif %}
    <br />
  
    {% for comment in comment.children.all %} 
      {% include 'comments/comment_component.html' %} 
    {% endfor %}
  </div>
  