<div class='navbar'>
    <nav>
      <div class='brand'>
        <a href="/"><span >My TRIBE</span></a>
      </div>
        <div>
          <div>
            <ul>
              {% if user.is_authenticated %}
              <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
              <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
              <li><a href="{% url 'user' request.user.id %}">Profile</a></li>
              {% else %}
              <li><a href="{% url 'account_login' %}">Sign In</a></li>
              <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
              {% endif %}
            <ul>
            {% comment %} <a href="{% url 'post-list' %}">Posts</a> {% endcomment %}
          </div>
        </div>
    </nav>
</div>