{% extends 'base.html' %} 
{% block content %} 

<h1>{{ user_data.user_name }} Profile</h1>

{% if request.user.id == user_data.id %}
    <h3><a href='{% url "user-edit"%}'>You can Edit</a></h3>
{% endif %}
<img class='profile-pic' src='../{{ MEDIA_URL }}{{ user.profile_pic }}'>
<div>
    <span>First Name: {{ user_data.first_name}}</span> <br>
    <span>Last Name: {{ user_data.last_name}}</span> <br>
    <span>Email: {{ user_data.email}}</span> <br>
    <span>Gender: {{ user_data.gender}}</span> <br>
    <span>Relationship: {{ user_data.relationshiop}}</span> <br>
    <span>Bio: {{ user_data.bio}}</span> <br>
    <span>Profile Pic: {{ user_data.profile_pic}}</span> <br>
    <span>Current Location: {{ user_data.current_location}}</span> <br>
</div>

<hr>
{% include '../posts/post_display.html' %}
{% endblock content %}
